body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F8EEE7;
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

/* Navigation Part */
nav {
    background-color: #94618e;
    padding: 10px 0;
    position: sticky;
    position: fixed;
    width: 100%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    display: block;
    font-size: 18px;
    transition: 0.3s;
}

nav ul li a:hover {
    background-color: #f87ce8;
    border-radius: 5px;
}

/* For all sections */
.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    padding-top: 150px;
}

section {
    background-color: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 18px;
    margin: 5px 0;
}

/* Footer Part */
footer {
    background-color: #94618e;
    color: white;
    padding: 10px;
    margin-top: 20px;
}

footer a {
    color: #f4f4f4;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Education Part */
#education {
    max-width: 100%;
    margin: auto;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

#education h2 {
    margin-bottom: 20px;
}

.education-container {
    display: flex;
    justify-content: space-between;
    text-align: left;
    font-size: 20px;
    gap: 50px;
}

.level {
    flex: 1;
    text-align: left;
    padding-left: 75px;
}

.school {
    flex: 2;
    text-align: left;
}

/* Skills Part */
#skills ul li {
    background-color: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 14px 14px 14px rgba(180, 46, 46, 0.2);
}

/* Portfolio Part */
#portfolio ul li {
    box-shadow: none;
}

/* Subjects Part */
#subjects {
    background-color: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.subjects-container {
    display: flex;
    flex-direction: column; 
    gap: 20px;
    text-align: left;
    margin-top: 20px;
    align-items: center; 
}

.first-year, .second-year, .third-year{
    background: #8b698b;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
}


h3 {
    text-align: center;
    color: white;
}

ul li {
    font-size: 18px;
    margin: 5px 0;
    padding: 10px;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}